
    .header{
        height:  5em;
        width: 100vw;
        background-color: #b29d9a;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        /* justify-content: center; */
        position: fixed;
        top: 0;
        left: 0;
    padding: 10px;
    /* margin: .5em; */
    
}




